.button {
    font-family: 'DMSans-Bold', sans-serif;
    border: none;

    &_menu {
        display: block;
        width: 45px;
        height: 45px;
        border: none;
        background-color: transparent;
        grid-column: 3/4;
        grid-row: 1/2;
        justify-self: end;
    }

    &_game {
        display: flex;
        top: calc(50% - 35px);
        right: calc(50% - 35px);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        background: linear-gradient(#ffff00, #ffcb00);
        color: #a75100;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

@media (min-width: $tv) {
    .button {
        &_game {
            width: 100px;
            height: 100px;
            right: calc(50% - 50px);
        }
    }
}

@media (min-width: $pv) {
    .button {
        &_menu {
            display: none;
        }
    }
}