.container {
    width: 90%;
    margin: 0 auto;

    &_body {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 3em;
        margin-bottom: 2em;
    }
    &_header {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_author {
        width: 70%;
        position: relative;
    }
    &_author::before {
        display: block;
        content: url('../img/author.webp');
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -140px;
        overflow: hidden;
    }
    &_footer {
        background: linear-gradient(#cc3e24, #aa4821);
    }
}

@media (min-width: 1200px) {
    .container {
        width: 70%;
        &_body {
            flex-direction: initial;
        }
        &_main {
            width: 100%;
        }
        &_author {
            width: 60%;
        }
    }
}